<!DOCTYPE html>
<html lang="en">
<head>
  <title>SQL Parse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="prism.css">
  <script src="prism.js"></script>
  <script>
    $(document).ready(function() {
   $('#clear').on('click', function() {
      $('#editing').val("");
      update("") 
   })
});
</script>
<script>
  function update(text) {
  console.log(text)
  let result_element = document.querySelector("#highlighting-content");
  // Update code
  result_element.innerText = text;
  // Syntax Highlight
  Prism.highlightElement(result_element);
}
</script>
</head>
<body>
    {{insert_date}}
    <div class="container">
        <div class="page-header">
            <pre><code class="language-sql">SELECT * from table1;
            </code></pre>
            
          <h1>SQL Parser</h1>      
        </div>
        <div class="form-group">
            <label for="comment">Sql Query:</label>
            <textarea class="form-control" rows="2" id="editing" oninput="update(this.value);"></textarea>
            
            <pre id="highlighting" aria-hidden="true">
              <code class="language-sql" id="highlighting-content"></code>
            </pre>
          </div>
          <button type="button" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-light" id='clear'>Clear</button>
          <br>
          <br>
          <br>
          <div class="alert alert-success">
            <strong>Valid Sql Query!</strong>.
          </div>
          <div class="alert alert-danger">
            <strong>Error!</strong> Error info.
          </div>
          
      </div>
</body>
</html>

